* {
  font-family: helvetica;
}

.image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  background-size: cover;
  background-position: center;
}

.caption {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h3 {
  font-weight: bold;
}

.brushes {
  background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
  }

.paint {
  background-color: skyblue;
}

.prices {
  font-weight: bold;
  color: blue;
}
